body{
    font-family: 'Noto Sans KR', sans-serif;
} /*전체 베이스로 입어* sans-serif 시스템 폰트*/
li{
    list-style: none;
}
.fontSnd{
    font-family: 'Noto Serif KR', serif;
} /*내가 관리할게*/
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
.jcc{
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}
.jce{
    justify-content: end;
}
.aic{
    align-items: center;
}
.red{background-color: red;}

a{
    color: black;
    text-decoration: none;
}